<div class="container pt-5 px-sm-0">
  <div class="row">
    <h3>ジャンル一覧・追加</h3>
  </div>
  <div class="mt-5">
    <%= render 'new', genre: @genre %>
  </div>
  <div class ="row mt-5">
    <div class="col-md-5">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>ジャンル</th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
            <tr>
              <td><%= genre.name %></td>
              <td><%= link_to '編集する', edit_admin_genre_path(genre.id), class: "btn btn-sm btn-success" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>